# the config file for apikey etc
config.yaml

# the pycharm stuff
.idea

# apple stuff
.DS_Store

# compiled files
*.pyc
*/*.pyc

# stuff in the ons_wrapper folder
ons_wrapper/*.csv
ons_wrapper/*.sqlite

